.step-info::after {
    background-color: #60a5fa !important;
}

.step-info::before {
    background-color: #60a5fa !important;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #60a5fa !important;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    transition: all 200ms ease;
}

input[type=range]::-webkit-slider-thumb:hover {
    background: #3b82f6 !important;
}

/* Styling for phone number input */
.iti {
    width: 100%;
    display: block;
}

.iti__flag-container {
    width: 58px;
    max-height: 48px;
}

.iti__selected-flag {
    padding-left: 16px;
    transition: all 0.2s ease;
    border-radius: 5px;
}

.iti--allow-dropdown input {
    padding-left: 64px !important;
}

.mauricios-button{
    background-color: #FFC0CB; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
}

.mauricios-container {
    background-color: lightslategray;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.body{
    padding-bottom: 50px;
}

.button-padding{
    padding-top: 10px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -280px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -50px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.mauricios-checkbox-format[type=checkbox]{
    width: 20px;
    height: 20px;
    background-color: #FA9E57;
    accent-color: slategray;
}

.mauricios-color-bg{
    background-color: dimgrey;
    align-items: center;
}

.mauricios-color-bg-v2{
    background-color: #555555;
    align-items: center;
}

.height{
    height: 780px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.center {
    align-content: center;
    align-self: center;
}

.element {
    transition: all 0.5s ease;
    background: black;
}
.element:start {
    background: green;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

header {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;

    background: #333;
    padding: 30px;
}

alert {
    padding: 20px;
    background-color: red;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: green;
}